body, html {
  background-color: rgb(48, 45, 45);
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.content {}

.header {}

.title {
  margin: 50px 1px;
}

.stats {

}

.timer {}

.moves {
  margin-left: 40px;
}

.deck {
  width: 700px;
  margin-top: 20px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card {
  padding: 40px 70px 0 10px;
  margin: 5px;
  color: #000;
  width: 60px;
  cursor: pointer;
  background: #fff;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  min-width: 60px;
  min-height: 70px;
}

.card-content {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.card.open {
  transform: rotateY(180deg);
}

.card.back {
  /* transform: rotateY(180deg); */
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #000 !important;
  background: url('img/angry.svg');
}

.disable-click {
  pointer-events: none;
  opacity: 0.9;
}

.success-container {
  margin: 300px 70px;
}

.success-message {}

.restart-btn {
  outline: none;
  border: none;
  margin-top: 20px;
  height: 35px;
  width: 70px;
}

.footer{
}
